/** 
Using BEM-namig convention block-name__element-name--modifier-name with namespaces 
from: https: //csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/
*/



/** 
--------------------------
          JAVASCRIPT
--------------------------
*/


.js-hide {
  display: none;
}

.js-disabled {
  pointer-events: none;
  color: dimgray;
}





/** 
--------------------------
          GENERAL
--------------------------
*/


/* LAYOUT */

body {
  --highlight: #0275D8;
  --second-color: dimgray;
}

.wrapper {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
}

@media (min-width: 720px) {
  .wrapper {
    grid-template-columns: 1fr 640px 1fr;
  }
}

.u-wrapper--center {
  grid-column: 2 / 3;
}

.c-layout__item {
  text-align: center;
}

/* LINKS */

a:hover {
  color: var(--second-color);
  text-decoration: none;
}





/** 
--------------------------
          HEADER
--------------------------
*/


/* NAVIGATION */

.c-nav__list {
  display: flex;
  justify-content: space-between;
  text-align: left;

  list-style: none;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;

  padding-inline-start: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.c-nav__item {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.c-nav__link {
  text-transform: lowercase;
}


/* LOGO  */

.c-logo-main__header {
  height: 96px;
  margin-top: 25px;
}


/* TITLE */

.c-title-main__header {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--highlight);

  position: relative;
  top: -19px;
}


/* TODAY DATE */

.c-date__today {
  margin: 0 auto 25px auto;
  padding: 0 10px 6px 10px;
  border-bottom: 1px solid;
  width: max-content;
}





/** 
--------------------------
           MAIN
--------------------------
*/


/* MAIN CARD */

.c-card--main {
  width: 100%;
  margin: 25px auto;
  padding: 40px 15px 40px 15px;

  background-color: black;
  border-radius: 5px;
  color: white;

  cursor: pointer;
}

.c-card__header {
  margin-bottom: 20px; 

  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.c-card__body {
  margin-block-end: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

/* Edit Form */

.c-form__edit {
  display: flex;
}

.c-form__input {
  width: 100%;
  padding: 7px 12px;
  border: 0;
  border-radius: 5px;

  color: var(--second-color);
}

.c-form__button {
  margin-left: 10px;
  border: 0;
  
  color: white;
  background-color: transparent;
  
  cursor: pointer;
}