/** 
Using BEM-namig convention block-name__element-name--modifier-name with namespaces 
from: https: //csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/
*/





/* JAVASCRIPT */

.js-hide {
  display: none;
}

.js-disabled {
  pointer-events: none;
  color: dimgray;
}





/* LAYOUT */

body {
  --highlight: #0275D8;
}

.wrapper {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
}

@media (min-width: 720px) {
  .wrapper {
    grid-template-columns: 1fr 640px 1fr;
  }
}

.u-wrapper--center {
  grid-column: 2 / 3;
}

.c-layout__item {
  text-align: center;
}





/** 
--------------------------
          HEADER
--------------------------
*/


/* NAVIGATION SECTION */

.c-nav__list {
  list-style: none;
  margin: 0;
  padding:0;
  text-align: center;
}

.c-nav__item {
  display: inline;
}


/* Overlap  */

.c-header__overlap {
  /* display: grid;
  grid-template-rows: auto auto auto; */
}


/* LOGO */

.c-header__logo {
  height: 96px;
  width: 96px;
}


/* TITLE */

.c-header__title {
  color: var(--highlight);
  font-weight: 300;
  font-size: 22px;  
  margin: 0;
}






/** 
--------------------------
           MAIN
--------------------------
*/

.c-layout__item {
  text-align: center;
}

.c-text__left {
  text-align: left;
}